!!! 5
%html
  %head
    %title About my first project on #Sinatra
  %body
    %h1 Just a simple test #{@title}

    %p Hello world, It's just my first simple project using Ruby language
    %p Ruby language is more awesomer than I was thinking
