%div
   %p Впишите какой-нибудь, желательно, корректный домен и нажмите Enter
   %form{:method => 'post', :action => '/ajax.json'}
      %input{:type => "text", :name => "domain"}
   %ul{:id => 'info'}
